name = "SD-WAN Edges"
region = "{{ datacenter }}"
availability_zone = "{{ datacenter }}b"
subnet_name_prefix = "sdwan-subnet"
address_space = "{{ cidr_range }}"
subnet_transport_prefix = "{{ vpn0_range }}"
subnet_service_prefix = "{{ vpn1_range }}"
